<!DOCTYPE html>
<html ng-app="printRembook">
<head>
  <title></title>
  <script src ='javascripts/angular.min.js' ></script>
  <link rel = 'stylesheet' href='stylesheets/finalRembook.css'>
  <script src ='javascripts/jquery-1.12.2.min.js'></script>

  <script>
  var printRembook = angular.module('printRembook', []);
  var pages = <%- JSON.stringify(users) %>
  var questions = <%- JSON.stringify(questions) %>

  // var i = 0;
  // for (i = 0; i < pages.length; i++){
  //   if (pages[i].left.rems.length > 0){
  //     console.log(pages[i]);
  //   }
  //   if (typeof pages[i].right !== 'undefined'){
  //     if (pages[i].right.rems.length > 0){
  //       console.log(pages[i]);
  //     }
  //   }
  // }

  printRembook.controller('layoutController',['$scope', '$sce', function ($scope, $sce) {
    $scope.pages = pages;
    $scope.nickNamesQuestionId = (function(){
      var i;
      for (i = 0; i < questions.length; i++){
        if (questions[i].title === "nicknames"){
          return questions[i]._id;
        }
      }
    })();
    $scope.aboutQuestionId = (function(){
      var i;
      for (i = 0; i < questions.length; i++){
        if (questions[i].title === "about"){
          return questions[i]._id;
        }
      }
    })();
    $scope.wordsQuestionId = (function(){
      var i;
      for (i = 0; i < questions.length; i++){
        if (questions[i].title === "words"){
          return questions[i]._id;
        }
      }
    })();
    // console.log($scope.aboutQuestionId);
    $scope.getProfilePic = function(user){
      if (typeof user === 'undefined'){
        return "";
      }
      var indexOftemp = user.photoName.search("temp");
      if (indexOftemp === -1){
        return "./profilepic/"+user.photoName;
      }else {
        return "./profilepic/temp.png";
      }

    }
    $scope.getHostel = function(user){
      if (typeof user !== 'undefined'){
        if (typeof user.hostels !== 'undefined'){
          var hostels = user.hostels;
          return hostels[hostels.length-1];
        }
        return "";
      }else {
        return "";
      }
    }
    $scope.getNickNames = function (rems) {
      var i, j, k;
      var nicknamesArray = [];
      if (typeof rems === 'undefined'){
        return;
      }
      if (rems.length === 0){
        return;
      }
      for (i = 0; i < rems.length; i++){
        var responses = rems[i].responses;
        if (responses.length === 0){
          continue;
        }
        for (j = 0; j < responses.length; j++){
          if (responses[j].questionId === $scope.nickNamesQuestionId){
            var response = responses[j].response;
            var nicknames = response.split(',');
            for (k = 0; k < nicknames.length; k++){
              if (nicknamesArray.indexOf(nicknames[k].trim()) === -1){
                nicknamesArray.push(nicknames[k].trim());
              }
            }
          }
        }
      }
      nicknamesArray = nicknamesArray.join(', ');
      return nicknamesArray;
    }
    $scope.getWords = function (rems) {
      var i, j, k;
      var wordsArray = [];
      if (typeof rems === 'undefined'){
        return;
      }
      if (rems.length === 0){
        return;
      }
      for (i = 0; i < rems.length; i++){
        var responses = rems[i].responses;
        if (responses.length === 0){
          continue;
        }
        for (j = 0; j < responses.length; j++){
          if (responses[j].questionId === $scope.wordsQuestionId){
            var response = responses[j].response;
            var words = response.split(',');
            for (k = 0; k < words.length; k++){
              if (wordsArray.indexOf(words[k].trim()) === -1){
                wordsArray.push(words[k].trim());
              }
            }
          }
        }
      }
      wordsArray = wordsArray.join(', ');
      return wordsArray;
    };
    $scope.getBioAbout = function(bio){
      if (typeof bio === 'undefined'){
        return;
      }
      if (bio.length === 0){
        return;
      }
      var responses = bio.responses;
      var i;
      for (i = 0; i < responses.length; i++){
        if (responses[i].questionId === $scope.aboutQuestionId){
          return responses[i].response;
        }
      }
    }
    $scope.getRemsAbout = function (rems) {
      var i,j;
      var remsString = "";
      if (typeof rems === 'undefined'){
        return;
      }
      if (rems.length === 0){
        return;
      }
      for (i = 0; i < rems.length; i++){
        var responses = rems[i].responses;
        var fromName = rems[i].fromName;
        if (responses.length === 0){
          continue;
        }
        for (j = 0; j < responses.length; j++){
          // console.log(responses[j]);
          if (responses[j].questionId === $scope.aboutQuestionId){
            var response = responses[j].response;
            // console.log(response);
            if (response.length !== 0 ){
              remsString +=  fromName +" says: " + response + " ";
            }
          }
        }
      }
      return $sce.trustAsHtml(remsString);
    }
  }]);

  </script>
</head>
<body ng-controller="layoutController">

  <div class="rembookPage" ng-repeat="page in pages">
    <div class="topPage">
      <div class="name centerAlign">
        <span>
          {{page.left.user.name}}<br>
          {{page.left.user.rollNumber}}
        </span>
      </div>
      <img ng-src="{{getProfilePic(page.left.user)}}" class="profilepic" >
      <div class="frequentwords centerAlign">
        <span>{{getWords(page.left.rems)}}  </span>
      </div>
      <div class="nicknames centerAlign">
        <span>{{getNickNames(page.left.rems)}}</span>
      </div>
      <div class="email centerAlign">
      <span>{{page.left.user.email}}</span>
      </div>
      <div class="contact centerAlign">
        <span>{{page.left.user.contact}}</span>
      </div>
      <div class="dob centerAlign">
        <span>{{page.left.user.dob|date:'dd.MM.yyyy' }}</span>
      </div>
      <div class="place centerAlign">
        <span>{{page.left.user.address}}</span>
      </div>
      <div class="hostel centerAlign">
        <span>{{getHostel(page.left.user)}}</span>
      </div>
      <div class="department centerAlign">
        <span>{{page.left.user.department}}</span>
      </div>
      <div class="about">
        {{getRemsAbout(page.left.rems)}}
      </div>
    </div>
    <div class="bottomPage">
      <div class="name centerAlign">
        <span>
          {{page.right.user.name}}<br>
          {{page.right.user.rollNumber}}
        </span>
      </div>
      <img ng-src="{{getProfilePic(page.right.user)}}" class="profilepic">
      <div class="frequentwords centerAlign">
        <span>{{getWords(page.right.rems)}}</span>
      </div>
      <div class="nicknames centerAlign">
        <span>{{getNickNames(page.right.rems)}}</span>
      </div>
      <div class="email centerAlign">
      <span>{{page.right.user.email}}</span>
      </div>
      <div class="contact centerAlign">
        <span>{{page.right.user.contact}}</span>
      </div>
      <div class="dob centerAlign">
        <span>{{page.right.user.dob|date:'dd.MM.yyyy' }}</span>
      </div>
      <div class="place centerAlign">
        <span>{{page.right.user.address}}</span>
      </div>
      <div class="hostel centerAlign">
        <span>{{getHostel(page.right.user)}}</span>
      </div>
      <div class="department centerAlign">
        <span>{{page.right.user.department}}</span>
      </div>
      <div class="about">
        {{getRemsAbout(page.right.rems)}}
      </div>
    </div>
  </div>
</body>
<script>
$(".rembookPage").click(function(e){
  console.log(e.pageX, e.pageY);
})
</script>
</html>
