<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="javascripts/jquery-2.1.4.min.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  </head>
  <body>
    <header class="ui equal height two column padded grid">
        <div id="logo" class="four wide computer four wide tablet sixteen wide mobile column blue center aligned ">
            <span id="title">RemBook</span>
        </div>

        <div id="search-container-container" class="twelve wide computer twelve wide tablet sixteen wide mobile column">
            <div id="search-container" class="ui fluid left icon input big">
                <input type="text" placeholder="Search your friends..." class="computer only">
                <i class="search icon"></i>
            </div>
        </div>
    </header>

    <footer>
        Made with ♥ by <span style="color:white">Delta Force</span>
    </footer>
  </body>
</html>
