<!-- 
    Vue-Template for a conditionally editable field

    Object to be injected: {
    	dataId: String,
        data: String,
		placeholder: String,
        maxLength: int,
        editable: bool,
        type: String -> type of input
    }
-->

<span :class="{'editable' : editable, 'editing': _editing_}" class="conditionally_editable">
	<span v-show="!editable">{{data && data.trim() ? data : (placeholderEmpty || placeholder)}}</span>
	<input class="_dummy_"
			v-on:focus="onfocusdummy($event)" 
			v-show="!_editing_ && editable" 
			:type="type" 
			:value="data"
			:placeholder="(placeholderInput || placeholder)">

	<input class="_real_" 
			v-show="_editing_" 
			:type="type" 
			v-model="data" 
			:placeholder="(placeholderInput || placeholder)"
			v-on:blur="onblurreal($event)" 
			v-on:change="onchange($event)">
</span>
