<div class="image-uploader-component">
	<div class="topbar">
		<div class="button-container">
		<button class="ui labeled icon primary button" v-on:click="save($event)">
			<i class="save icon"></i>
			Save
		</button>
		<button class="ui labeled icon button" v-on:click="onclose($save)">
			<i class="cancel icon"></i>
			Cancel
		</button>
		</div>
	</div>
	<div class="container">
		<div class="anothercontainer"><img class="original" /></div>
	</div>
</div>
