<div class="search-results-container">
	<div class="topbar">
		<h2 class="ui header" style="margin: auto"></h2>
		<i class="ui right floated close icon big" v-on:click="onclose($event)"></i>
	</div>

	<div class="content">
		<h2 class="ui header" style="margin: auto">Instructions</h2><br><br>
		1. This is a Rem<i>Book</i>, so you can flip pages. Use left and right arrow keys.<br><br>
		2. If using mobile, you can swipe left and right to turn pages<br><br>
		3. Everything gets autosaved. There isn't any save button!<br><br>
	</div>
</div>
