<!-- 
    Vue-Template for the profile page

    Object to be injected: {
        name: String,
        rollNumber: String,
        department: String,         => To be formatted
        dob: Date,                  => To be formatted
        address: String,
        email: String,
        contact: String,
        hostels: Array<String>
        questions: Array<{ title, response }>,     => Yet to be handled
        photoName: String -> Name of the profile photo
    }
-->

<div class="bb-item">
    <div class="profile-side">
        <div class="side-content">
            <div class="ui two column padded grid">
                <div class="right aligned column profile-dp-container">
                    <img class="dp ui medium image" :src="'/profilepic/' + profile.photoName" v-on:onclick="uploadImage();">
                </div>
                <div class="column profile-intro-wrapper">
                    <div class="ui profile-intro-container">
                        <h2 class="ui header">{{profile.name}}</h2>
                        <h4 class="ui header">{{profile.rollNumber}}, {{profile.department}}</h4>
                        <h4 class="ui header">
                            <i class="calendar icon" style="float: left"></i> Birthday:
                            <conditionally-editable-component
                                class="ui header" 
                                :type="'date'"
                                :data-id="'dob'"
                                :data="profile.dob | formatDateForInputEl"
                                :editable="_isEditable_"
                                placeholder="Not available">
                            </conditionally-editable-component>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="ui two column divided grid piled segments center aligned">
                <div class="column">
                    <h2 class="ui header center aligned">Contact</h2>
                    <div class="ui divider"></div>
                    <h4 class="ui left aligned header">
                        <i class="home icon" style="float: left"></i>
                        <conditionally-editable-component
                            style="display: inline"
                            :data-id="'address'"
                            :data="profile.address" 
                            :editable="_isEditable_"
                            placeholder="Address not available"></conditionally-editable-component>
                    </h4>
                    <h4 class="ui left aligned header">
                        <i class="mail icon" style="float: left"></i>
                        <conditionally-editable-component
                            style="display: inline"
                            :data-id="'email'"
                            :data="profile.email" 
                            :editable="_isEditable_"
                            placeholder="Email not available"></conditionally-editable-component>
                    </h4>
                    <h4 class="ui left aligned header">
                        <i class="phone icon" style="float: left"></i>
                        <conditionally-editable-component
                            style="display: inline"
                            :data-id="'contact'"
                            :data="profile.contact" 
                            :editable="_isEditable_"
                            placeholder="Contact not available"></conditionally-editable-component>
                    </h4>
                </div>
                <div class="ui center aligned column">
                    <h2 class="ui header center aligned">Hostels</h2>
                    <div class="ui divider"></div>

                    <h4 class="ui center aligned header" v-if="!_isEditable_ && !profile.hostels.join().trim()">
                        Not yet updated! 
                    </h4>
                    
                    <div v-if="_isEditable_ || profile.hostels.join()">
                    <h5 class="ui center aligned header" style="margin: 15px">
                        <conditionally-editable-component
                            style="display: inline"
                            :data-id="'hostel#0'"
                            :data="profile.hostels[0]" 
                            :editable="_isEditable_"
                            placeholder="1st year hostel"></conditionally-editable-component>
                    </h5>
                    <h5 class="ui center aligned header" style="margin: 15px">
                        <conditionally-editable-component
                            style="display: inline"
                            :data-id="'hostel#1'"
                            :data="profile.hostels[1]" 
                            :editable="_isEditable_"
                            placeholder="2nd year hostel"></conditionally-editable-component>
                    </h5>
                    <h5 class="ui center aligned header" style="margin: 15px">
                        <conditionally-editable-component
                            style="display: inline"
                            :data-id="'hostel#2'"
                            :data="profile.hostels[2]" 
                            :editable="_isEditable_"
                            placeholder="3rd year hostel"></conditionally-editable-component>
                    </h5>
                    <h5 class="ui center aligned header" style="margin: 15px">
                        <conditionally-editable-component
                            style="display: inline"
                            :data-id="'hostel#3'"
                            :data="profile.hostels[3]" 
                            :editable="_isEditable_"
                            placeholder="4th year hostel"></conditionally-editable-component>
                    </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-side">
        <div class="side-content bio">
            <template v-for="question in bio.responses">
                <h4>{{questionMap[question._id].bio_description}}</h4>
                <conditionally-editable-text-area-component
                    :data-id="'question#' + question._id"
                    :data="question.response"
                    :editable="_isEditable_"
                    placeholder="Nothing yet!">
                </conditionally-editable-text-area-component>
            </template>
        </div>
    </div>
</div>