<!--
    Vue-Template for a Rem page.

    Object to be injected: Array<{
        from: {
            name: String,
            rollNumber: String,
            photoName: String -> Name of the profile photo
        },
        to: {
            name: String,
            rollNumber: String,
            photoName: String -> Name of the profile photo
        },
        trivia: Array<{ title, response }>,
        memories: String,
        pictureUrl: String
    }>
-->
<div class="bb-item rem-component emptiness" v-if="(rems.length == 0) && (isFinalYear)">
    <div class="rem-page">
        <div>No one's written anything here yet! 
	<span v-if="!self">Why don't you <a href="#{{RemBook.currentRemBookOf.attributes.rollNumber}}/rems/write">write?</a></span>
</div>
    </div>
</div>

<div class="bb-item rem-component" v-for="rem in rems">
    <div class="rem-page">
        <div class="ui two column padded stackable grid side-content">
            <div class="ui five wide column">
                <div class="center aligned two wide column">
                    <a href="#{{rem.from}}"><img class="dp ui small image" :id="'remFromPhoto_' + rem.from" src="/profilepic/temp.png"></a>
                </div>
                <div class="thirteen wide column rem-author-name">
                    <h3><a href="#{{rem.from}}">{{rem.fromName}}</a> says,</h3>
                </div>
                <div class="sixteen wide column rem-trivia-container">
                    <template v-for="t in rem.trivia">
                        <h4>{{t.description + " " + rem.toName}}</h4>
                        {{ t.response ? t.response : 'Nothing yet' }}
                    </template>
                </div>
            </div>
            <div class="eleven wide column rem-memories-column">
                <div class="admin_panel">
                    <template v-if="rem.to == RemBook.currentUser.attributes.rollNumber">
			<button class="ui labeled icon button" v-if="rem.approved !== undefined" v-on:click="toggleApprove($event)" :id="rem.id">
                      <i :class="rem.approved ? 'hide icon' : 'unhide icon'"></i>
                      {{rem.approved ? 'Hide' : 'Make Public'}}
                    </button>
			<button class="ui labeled icon button" :id="'print#' + rem.id" v-on:click="togglePrint($event)">
                      <i class="print icon" :class="rem.print ? 'green' : ''"></i>
			{{rem.print ? 'Selected' : 'Not selected'}} for printing
                    </button><br>
		    </template>
                    <template v-if="rem.from == RemBook.currentUser.attributes.rollNumber">
			<a class="ui label" :class="rem.approved ? 'green' : 'grey'" v-if="rem.approved !== undefined"> 
                      <i :class="rem.approved ? 'hide icon' : 'unhide icon'"></i>
                      {{rem.toName + (!rem.approved ? " hasn't made this public" : " has made this public")}}
                    </a><br>
		    </template>
                </div>
                <div class="rem-memories-wrapper">
                    <h4>Memories</h4>

                    <div class="rem-memories-container">
                        {{rem.memories}}

                        <img class="rem-pic ui medium image ui piled segment center aligned" :id="'rempic_from' + rem.from + '_to_' + rem.to" :src="'/rempics/' + (Math.random() < 0.5 ? 'group-green.png' : 'group-orange.png')">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
