<!--
    Vue-Template for a Rem page.

    Object to be injected: Array<{
        from: {
            name: String,
            rollNumber: String,
            photoName: String -> Name of the profile photo
        },
        to: {
            name: String,
            rollNumber: String,
            photoName: String -> Name of the profile photo
        },
        trivia: Array<{ title, response }>,
        memories: String,
        pictureUrl: String
    }>
-->
<div class="bb-item rem-component emptiness" v-if="(rems.length == 0) && (isFinalYear)">
    <div class="rem-page">
        <div>No one's written anything here yet! 
	<span v-if="!self">Why don't you <a href="#{{RemBook.currentRemBookOf.attributes.rollNumber}}/rems/write">write?</a></span>
</div>
    </div>
</div>

<div class="bb-item rem-component" v-for="rem in rems">
    <div class="rem-page">
        <div class="ui two column padded grid side-content">
            <div class="ui five wide column">
                <div class="center aligned two wide column">
                    <img class="dp ui small image" :src="'/profilepic/' + rem.fromPhotoName">
                </div>
                <div class="thirteen wide column rem-author-name">
                    <h3>{{rem.fromName}} says,</h3>
                </div>
                <div class="sixteen wide column rem-trivia-container">
                    <template v-for="t in rem.trivia">
                        <h4>{{t.description}}</h4>
                        {{t.response}}
                    </template>
                </div>
            </div>
            <div class="eleven wide column rem-memories-column">
                <div class="admin_panel">
                    <button class="ui labeled icon button" v-if="rem.approved !== undefined" v-on:click="toggleApprove($event)" :id="rem.id">
                      <i :class="rem.approved ? 'hide icon' : 'unhide icon'"></i>
                      {{rem.approved ? 'Hide' : 'Make Public'}}
                    </button>
                </div>
                <div class="rem-memories-wrapper">
                    <h4>Memories</h4>

                    <div class="rem-memories-container">
                        {{rem.memories}}

                        <img v-if="rem.pictureUrl" class="rem-pic ui medium image ui piled segment center aligned" :src="'/rempics/' + rem.pictureUrl">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
