<div class="search-container-container twelve wide column">
	<div class="search-container ui fluid left icon input big">
		<input type="text" placeholder="Search your friends..." v-on:focus="onsearchfocus($event)" v-on:input="oninput($event)">
		<i class="search icon"></i>
	</div>
</div>