<div class="search-results-container">
	<div class="topbar">
		<div class="dropdown-container">
			<h4 class="ui header">Department</h4>
			<div class="ui selection dropdown">
				<input type="hidden" name="department" v-on:change="onchange($event)">
				<i class="dropdown icon"></i>
				<div class="default text">Any</div>
				<div class="menu">
					<div class="item" data-value="">Any</div>
					<div class="item" data-value="ARCHI">Archi</div>
					<div class="item" data-value="CIV">Civil</div>
					<div class="item" data-value="CHEM">Chemical</div>
					<div class="item" data-value="CSE">CSE</div>
					<div class="item" data-value="EEE">EEE</div>
					<div class="item" data-value="ECE">ECE</div>
					<div class="item" data-value="ICE">ICE</div>
					<div class="item" data-value="MECH">Mech</div>
					<div class="item" data-value="PROD">Prod</div>
					<div class="item" data-value="MME">MME</div>
				</div>
			</div>
		</div>

		<i class="ui right floated close icon big" v-on:click="onclose($event)"></i>
	</div>

	<div class="search-results">
		<template v-if="results.length == 0">
			<div class="ui segment" style="width: 100%;	position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); border: none;	box-shadow: none;">
			<div class="ui active inverted dimmer">
			<div class="ui text loader">Loading</div>
		</div>
		<p></p>
	</div>
</template>
		<template v-for="result in results">
			<a v-if="result.attributes.rollNumber | isFinalYear" href="#{{result.attributes.rollNumber}}/profile">
				<img :src="'/thumbnail/' + result.attributes.photoName">
				<span>{{result.attributes.name}}</span>
				<span>{{result.attributes.department}}</span>
				<span>{{result.attributes.rollNumber}}</span>
			</a>
		</template>
	</div>
</div>
