<div class="write-rem-component test"><div class="topbar">
        <div class="ui header">
            Write a Rem about {{toName}}
        </div>

        <i class="ui right floated close icon big" v-on:click="onclose($event)"></i>
    </div>

    <div class="rem-page">
        <div class="ui padded stackable grid side-content">
            <div class="ui five wide column">
                <div class="center aligned two wide column">
                    <a href="#{{from}}"><img class="dp ui small image" :src="'/profilepic/' + fromPhotoName"></a>
                </div>
                <div class="thirteen wide column rem-author-name">
                    <h3><a href="#{{from}}">{{fromName}}</a> says,</h3>
                </div>
                <div class="sixteen wide column rem-trivia-container">
                    <template v-for="t in trivia">
                        <h4>{{t.description + " " + toName}}</h4>
                        <conditionally-editable-text-area-component
                            :data-id="'trivia#' + t._id"
                            :data.sync="t.response"
                            :editable="true"
                            :placeholder="t.description + ' ' + toName">
                        </conditionally-editable-text-area-component>
                    </template>
                </div>
            </div>
            <div class="six wide column rem-memories-column">
                <div class="rem-memories-wrapper">
                    <h4>Memories</h4>

                    <div class="rem-memories-container">
                        <conditionally-editable-text-area-component
                            :data-id="'memories'"
                            :data.sync="memories"
                            :editable="true"
                            :placeholder="'Your sweet (and salty) memories...'"
			    :limit="500"
			    :character-count="true">
                        </conditionally-editable-text-area-component>
                    </div>
			<div style="padding: 15px"><button style="margin-left: -15px" class="ui labeled icon primary button" v-on:click="onsave($event)"> <i class="save icon"></i> Save</i></button><div style="margin-left: 15px" class="save-status"></div></div>
			<!--<div style="font-size: 14px"><i>P.S: Everything gets autosaved.</i></div>-->
			
                </div>
            </div>
            <div class="five wide column rem-pic-container">
	    	    <div class='uploadable'>
			<input type="file" accept="image/*"  v-on:change="uploadImage($event)">
			<img class="rem-pic ui medium image piled segment center aligned" :src="'/rempics/' + (photoName ? photoName : Math.random() < 0.5 ? 'group-green.png' : 'group-orange.png')">
		    </div>
            </div>
        </div>
    </div>
</div>
