@font-face {
  font-family: LithosProRegular;
  src:url(../fonts/LithosPro-Regular.otf);
}
@font-face {
  font-family: SegoePrint;
  src:url(../fonts/SegoePrint.ttf);
}
body{
  margin: 0;
  padding: 0;
  font-size: 45px;
}
.rembookPage{
  height: 2480px;
  width: 3508px;
  background-image: url('../images/rembook.png');
}
.leftPage, .rightPage{
  position: relative;
}
.leftPage .name, .leftPage .rollNumber{
  font-size: 50px;
  position: absolute;
  left: 260px;
  height: 145px;
  line-height: 145px;
  width: 900px;
  font-family: LithosProRegular;
}
 .name span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: 15px;
}
.name{
  top: 225px;
}
.rollNumber{
  top: 445px;
}
.nicknames{
  position: absolute;
  top: 720px;
  width: 1350px;
  font-size: 50px;
  font-family: LithosProRegular
  height: 150px;
}
.email, .contact{
  position: absolute;
  top: 860px;
  font-size:  50px;
  font-family: SegoePrint;
}
.dob, .place, .hostel{
  position: absolute;
  top: 955px;
  text-align: center;
  line-height: 120px;
  width: 460px;
  font-family: LithosProRegular;
}
.about{
  position: absolute;
  top:1140px;
  height: 1075px;
  width: 1350px;
  overflow: hidden;
  font-family: SegoePrint;
}
.centerAlign{
  text-align: center;
}
.profilepic{
  top: 192px;
  border-radius: 200px;
  height: 420px;
  width: 420px;
  position: absolute;
}
.department{
  font-family: LithosProRegular;
  position: absolute;
  top:2000px;
  -webkit-transform: rotate(270deg);
  color: #ccc;
  width: 365px;
  text-align: center;
  line-height: 95px;
  font-size: 70px;
}
.leftPage .profilepic{
  left: 1250px;
}
.leftPage .email, .leftPage .nicknames {
  left: 280px;
}
.leftPage .contact{
  left: 1200px;
}
.leftPage .dob{
  left:245px;
}
.leftPage .place{
  left:705px;
}
.leftPage .hostel{
  left:1180px;
}
.leftPage .department{
  left:-70px;
}
.leftPage .about {
  left:260px;
}
.rightPage .name, .rightPage .rollNumber {
  position: absolute;
  left: 2360px;
  height: 145px;
  line-height: 145px;
  width: 900px;
  font-family: LithosProRegular;
  font-size: 50px;
}
.rightPage .profilepic{
  left:1835px;
}
.rightPage .email , .rightPage .nicknames{
  left: 1900px;
}
.rightPage .contact{
  left: 2830px;
}
.rightPage .dob{
  left: 1865px;
}
.rightPage .place {
  left:2335px;
}
.rightPage .hostel{
  left:2800px;
}
.rightPage .department{
  left:3200px;
}
.rightPage .about{
  left:1885px;
}
