@font-face {
  font-family: LithosProRegular;
  src:url(../fonts/LithosPro-Regular.otf);
}
@font-face {
  font-family: SegoePrint;
  src:url(../fonts/SegoePrint.ttf);
}
@font-face {
  font-family: ProximaNovaRegular;
  src:url(../fonts/ProximaNovaRegular.otf);
}
body{
  margin: 0;
  padding: 0;
  font-family: ProximaNovaRegular;
}
.rembookPage{
  height: 1240px;
  width: 1754px;
  background-image: url('../images/rembook.jpg');
}
.centerAlign{
  text-align: center;
}
.topPage, .bottomPage{
  position: relative;
}
.name, .nicknames, .email, .contact,.dob, .frequentwords, .place, .hostel, .department, .about, .profilepic{
  position: absolute;
  /*border:1px solid #000;*/
  color:#eee;
  font-size: 30px;
  overflow: hidden;
}
.profilepic{
  height: 365px;
  width: 356px;
}
.about{
  height: 395px;
  width: 1160px;
}
.name{
  width:355px;
  height:192px;
  line-height: 192px;
}
.name span{
 display: inline-block;
 vertical-align: middle;
 line-height: normal;
}
.department{
  width: 45px;
  height: 215px;
  line-height: 215px;
}
.department span{
  display: inline-block;
  word-wrap: break-word;
  width: 25px;
  vertical-align: middle;
  line-height: normal;
}
.frequentwords, .email , .contact, .dob, .place, .hostel, .nicknames{
  height: 72px;
  line-height: 72px;
}
.frequentwords span, .email span , .contact span, .dob span, .place span, .hostel span, .nicknames span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 29px;
}
.frequentwords, .nicknames{
  width:440px;
}
.email{
  width: 400px;
}
.contact{
  width: 300px;
}
.dob, .hostel, .place{
  width:230px;
}
.topPage .profilepic, .topPage .about{
  top:27px;
}
.topPage .profilepic{
  left:80px;
}
.topPage .name {
  top:391px;
  left:79px;
}
.topPage .department{
  top:100px;
  left:435px;
}
.topPage .frequentwords, .topPage .email, .topPage .contact{
  top:440px;
}
.topPage .nicknames, .topPage .dob, .topPage .hostel, .topPage .place {
  top:522px;
}
.topPage .frequentwords, .topPage .nicknames, .topPage .about{
  left: 510px;
}
.topPage .email ,.topPage .dob{
  left:965px;
}
.topPage .contact{
  left:1370px;
}
.topPage .hostel {
  left:1208px;
}
.topPage .place{
  left:1442px;
}
.bottomPage .profilepic, .bottomPage .about{
  top: 642px;
}
.bottomPage .profilepic{
  left:1266px;
}
.bottomPage .name {
  left:1265px;
  top:1010px;
}
.bottomPage .department{
  left:1620px;
  top:715px;
}
.bottomPage .frequentwords, .bottomPage .email, .bottomPage .contact{
  top:1052px;
}
.bottomPage .nicknames, .bottomPage .dob, .bottomPage .hostel, .bottomPage .place {
  top:1135px;
}
.bottomPage .frequentwords, .bottomPage .nicknames, .bottomPage .about{
  left:79px;
}
.bottomPage .dob, .bottomPage .email{
  left:540px;
}
.bottomPage .contact{
  left:945px;
}
.bottomPage .hostel{
  left:780px;
}
.bottomPage .place{
  left:1015px;
}
