body{
  margin: 0;
  padding: 0;
  border:1px solid #000;
  font-size: 70px;
}
.rembookPage{
  height: 2480px;
  width: 3508px;
  background-image: url('../images/rembook.png');
}
.leftPage, .rightPage{
  position: relative;
}
.leftPage .name, .leftPage .rollNumber{
  position: absolute;
  left: 260px;
  /*border: 1px solid #000;*/
  height: 145px;
  line-height: 145px;
  width: 900px;
}
.name{
  top: 225px;
}
.rollNumber{
  top: 445px;
}
.nicknames{
  position: absolute;
  top: 720px;
  /*border: 1px solid #000;*/
  width: 1350px;
  height: 150px;
}
.email, .contact{
  position: absolute;
  top: 880px;
  font-size:  50px;
}
.dob, .place, .hostel{
  position: absolute;
  top: 955px;
  text-align: center;
  line-height: 120px;
  width: 460px;
  /*border: 1px solid #000;*/
}
.centerAlign{
  text-align: center;
}
.profilepic{
  top: 203px;
  border-radius: 200px;
  height: 400px;
  width: 400px;
  position: absolute;
}
.department{
  position: absolute;
  top:2000px;
  transform: rotate(270deg);
  color: #ccc;
  width: 365px;
  text-align: center;
  line-height: 95px;
}
.leftPage .profilepic{
  left: 1260px;
}
.leftPage .email, .leftPage .nicknames {
  left: 280px;
}
.leftPage .contact{
  left: 1350px;
}
.leftPage .dob{
  left:245px;
}
.leftPage .place{
  left:705px;
}
.leftPage .hostel{
  left:1180px;
}
.leftPage .department{
  left:-70px;
}
.rightPage .name, .rightPage .rollNumber {
  position: absolute;
  left: 2360px;
  height: 145px;
  line-height: 145px;
  width: 900px;
}
.rightPage .profilepic{
  left:1850px;
}
.rightPage .email , .rightPage .nicknames{
  left: 1900px;
}
.rightPage .contact{
  left: 2980px;
}
.rightPage .dob{
  left: 1865px;
}
.rightPage .place {
  left:2335px;
}
.rightPage .hostel{
  left:2800px;
}
.rightPage .department{
  left:3200px;
}
