body{
  width: 100%;
  align-content: center;
}
.profilepic{
  border-radius: 150px;
  height: 300px;
  width: 300px;
  margin: 40px;
}
table {
  width: 595px;
  margin: auto;
}
.heading{
  font-size: 13px;
}
.mainHeading{
  font-size: 15px;
}
.description{
  font-size: 11px;
  font-weight: 100;
}
td div{
  min-height: 30px;
  position: relative;
  border:1px solid #fff;
}
ul li{
  list-style: none;
}
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.downloadButton{
  position: fixed;
  top:100px;
  right:20px;
}
.remlist{
 width:290px;
 display: inline-block;
 vertical-align: middle;
}
.remlistWrapper{
  display: inline;
}
.rempic{
  height: 290px;
  width: 290px;
}
